.log-in-header {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.log-in-header h1 {
    font-size: 20px;
}

.log-in-header h2 {
    font-size: 16px;
}

.log-in-main {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.log-in-input-container {
    margin-top: 10px;
    height: 40px;
}

.log-in-input-container input {
    height: 30px;
    font-size: 15px;
    width: 200px;
}

#log-in-submit {
    width: 100px;
    font-size: 20px;
}

.log-in-submit-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}