.log-in-pwd {
    font-size: 16px;
    text-align: left;
}

.log-in-username {
    font-size: 16px;
    text-align: left;
}

.m-log-in-username {
    font-size: 2rem;
}

.m-log-in-pwd {
    font-size: 2rem;
}