<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>畅捷客服系统</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/footer.js"></script>
</head>
<body>
<div id="header"></div>
<div id="main-content">
    主界面
</div>
<input type="button" value="后退" onclick="backToLogIn()">
<div class="foot-sit"></div>
<div id="footer"></div>
</body>
</html>