<table id="custom-affairs-by-current-user" border="1">
    <tr>
        <th class="record-list-title-short">日期</th>
        <th class="record-list-title-short">时间</th>
        <th class="record-list-title-short">车站</th>
        <th class="record-list-title-long">情况说明</th>
        <th class="record-list-title-long">备注</th>
        <th class="record-list-title-short">是否解决</th>
        <th class="record-list-title-short">记录人</th>
    </tr>
    <tr>
        <td class="record-list-detail-short">2017-11-01</td>
        <td class="record-list-detail-short">10:00:00</td>
        <td class="record-list-detail-short">太原</td>
        <td class="record-list-detail-long">情况1</td>
        <td class="record-list-detail-long">你猜情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1情况1</td>
        <td class="record-list-detail-short">是</td>
        <td class="record-list-detail-short">silence</td>
    </tr>
    <tr>
        <td class="record-list-detail-short">2017-11-02</td>
        <td class="record-list-detail-short">11:00:00</td>
        <td class="record-list-detail-short">古交</td>
        <td class="record-list-detail-long">情况2</td>
        <td class="record-list-detail-long">你再猜</td>
        <td class="record-list-detail-short">否</td>
        <td class="record-list-detail-short">silentgod</td>
    </tr>
</table>