<div class="header-title">
    畅捷科技内部系统
</div>
<div class="header-function-container">
    <div class="header-top-line">
        <div class="header-top-line-left">
            <span>当前显示范围：</span>
            <select id="header-current-scan-period">
                <option value="今天">今天</option>
                <option value="四天以内">四天以内</option>
                <option value="一周以内" selected="selected">一周以内</option>
                <option value="一个月内">一个月内</option>
                <option value="全部">全部</option>
            </select>
        </div>
        <div class="header-top-line-right">
            <span>当前用户：</span>
            <span id="header-current-user-name">silence</span>
        </div>
    </div>
    <div class="header-bottom-line">
        <input class="header-function-button" type="button" value="查询">
        <input class="header-function-button" type="button" value="添加记录">
        <input class="header-function-button" type="button" value="添加词条">
    </div>
</div>