<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>畅捷客服系统登录</title>
    <link rel="stylesheet" type="text/css" href=".../css/common.css">
    <script src=".../js/common.js"></script>
</head>
<body>
<div class="log-in-header"></div>
<div class="log-in-main">
    <div class="log-in-username">
        <span class="log-in-main-text">用户名:</span>
        <span>
            <input class="log-in-input" placeholder="用户名">
        </span>
    </div>
    <div class="log-in-pwd">
        <span class="log-in-main-text">密码:</span>
        <span>
            <input type="password" class="log-in-input" placeholder="密码">
        </span>
    </div>
</div>
<input type="button" id="log-in-submit">登录
</body>
</html>