<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>畅捷客服系统登录</title>
</head>
<body>
<div class="m-log-in-header"></div>
<div class="m-log-in-main">
    <div class="m-log-in-username">
        <span class="m-log-in-main-text">用户名:</span>
        <span>
            <input class="m-log-in-input" placeholder="用户名">
        </span>
    </div>
    <div class="m-log-in-pwd">
        <span class="m-log-in-main-text">密码:</span>
        <span>
            <input type="password" class="m-log-in-input" placeholder="密码">
        </span>
    </div>
</div>
<input type="button" id="m-log-in-submit">登录
</body>
</html>